##Disciplina - Introdução a Ciência de Dados - Univesp
##Exercícios de Apoio da Semana 2

###1 - Carregue as bibliotecas NumPy e Pandas

In [25]:
import pandas as pd
import numpy as np

###2 - Crie um NDArray com os seguintes valores [1, 2.5, 7, -78, -0.9, 130, 25]

In [26]:
lista = [1,2.5, 7, -78, -0.9, 130, 25]
dados = np.array(lista)

###3 - Crie um NDArray com os valores de 0 a 10

In [27]:
dados_seq = np.arange(11)

###4 – Crie um NDArray de dimensão 2x5 com valores 1

In [28]:
dados_um = np.ones((2,5))

###5 – Crie um NDArray com valores de 1 a 100, com intervalos de 3 em 3.

In [29]:
dados_seq2 = np.arange(0,100,3)

###6 – Mostre as raízes quadradas dos valores do NDArray criado no exercícios 5.

In [30]:
print(dados_seq2**(1/2))

[0.         1.73205081 2.44948974 3.         3.46410162 3.87298335
 4.24264069 4.58257569 4.89897949 5.19615242 5.47722558 5.74456265
 6.         6.244998   6.4807407  6.70820393 6.92820323 7.14142843
 7.34846923 7.54983444 7.74596669 7.93725393 8.1240384  8.30662386
 8.48528137 8.66025404 8.83176087 9.         9.16515139 9.32737905
 9.48683298 9.64365076 9.79795897 9.94987437]

###7 – Altere a décima posição do NDArray criado no exercício 5 com o dobro do seu valor.

In [31]:
dados_seq2[10]=dados_seq2[10]*2

###8 – Execute o comando para criar um Dataframe com os dados disponíveis no notebook.

In [32]:
dados={'Empresa':['Microsoft', 'Google','Univesp','NVData Analytics','Power Bi Experience','USP'], 'Qtde Func':[1000, 1500,500, 100,100,499], 'Site':['https://www.microsoft.com/pt-br','https://www.google.com/','https://univesp.br/','https://www.nvdata.com.br/','https://powerbiexperience.com/pt/','https://www.usp.br/'],'Instagram':['@microsoft','@google','@univespoficial','@nv_data','@leokarpa','@usp.oficial'],'Criação':[1975,1998,2012,2019,2016,1934], 'País':['EUA','EUA','Brasil','Brasil','Brasil','Brasil']}

In [33]:
df=pd.DataFrame(dados)
print(df)

               Empresa  Qtde Func                               Site
0            Microsoft       1000    https://www.microsoft.com/pt-br  \
1               Google       1500            https://www.google.com/
2              Univesp        500                https://univesp.br/
3     NVData Analytics        100         https://www.nvdata.com.br/
4  Power Bi Experience        100  https://powerbiexperience.com/pt/
5                  USP        499                https://www.usp.br/

         Instagram  Criação    País
0       @microsoft     1975     EUA
1          @google     1998     EUA
2  @univespoficial     2012  Brasil
3         @nv_data     2019  Brasil
4        @leokarpa     2016  Brasil
5     @usp.oficial     1934  Brasil

###9 – Execute um comando que seja possível identificar qual a média da quantidade de funcionários que as empresas listadas tem. Informe também a soma dos funcionários que as empresas tem.

In [34]:
df.describe(include='all')

,Empresa,Qtde Func,Site,Instagram,Criação,País
count,6,6.000000,6,6,6.000000,6
unique,6,NaN,6,6,NaN,2
top,Microsoft,NaN,https://www.microsoft.com/pt-br,@microsoft,NaN,Brasil
freq,1,NaN,1,1,NaN,4
mean,NaN,616.500000,NaN,NaN,1992.333333,NaN
std,NaN,545.631286,NaN,NaN,32.843061,NaN
min,NaN,100.000000,NaN,NaN,1934.000000,NaN
25%,NaN,199.750000,NaN,NaN,1980.750000,NaN
50%,NaN,499.500000,NaN,NaN,2005.000000,NaN
75%,NaN,875.000000,NaN,NaN,2015.000000,NaN
max,NaN,1500.000000,NaN,NaN,2019.000000,NaN

###10 – Mostre as primeiras 3 linhas do dataframe.

In [35]:
df.iloc[0:3]

,Empresa,Qtde Func,Site,Instagram,Criação,País
0,Microsoft,1000,https://www.microsoft.com/pt-br,@microsoft,1975,EUA
1,Google,1500,https://www.google.com/,@google,1998,EUA
2,Univesp,500,https://univesp.br/,@univespoficial,2012,Brasil

###11 – Mostre as últimas 3 linhas do dataframe.

In [36]:
df.iloc[3:6]

,Empresa,Qtde Func,Site,Instagram,Criação,País
3,NVData Analytics,100,https://www.nvdata.com.br/,@nv_data,2019,Brasil
4,Power Bi Experience,100,https://powerbiexperience.com/pt/,@leokarpa,2016,Brasil
5,USP,499,https://www.usp.br/,@usp.oficial,1934,Brasil

###12 – Liste apenas as linhas em que as empresas foram criadas nos últimos 10 anos. Informe a quantidade de registros.

In [37]:
df2=df[df['Criação']>2013]
df2

,Empresa,Qtde Func,Site,Instagram,Criação,País
3,NVData Analytics,100,https://www.nvdata.com.br/,@nv_data,2019,Brasil
4,Power Bi Experience,100,https://powerbiexperience.com/pt/,@leokarpa,2016,Brasil

###13 – Vamos imaginar que em todas as empresas exista 1 chefe para cada 23 funcionários. Crie uma coluna que mostre a quantidade de chefes que cada empresa teria e depois informe quantos chefes teríamos ao todo. (os valores não precisam ser números inteiros, é apenas uma estimativa).

In [39]:
df2['chefes']=df2['Qtde Func']/23
df2

C:\Users\lorra\AppData\Local\Temp\ipykernel_10896\1658258473.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['chefes']=df2['Qtde Func']/23

,Empresa,Qtde Func,Site,Instagram,Criação,País,chefes
3,NVData Analytics,100,https://www.nvdata.com.br/,@nv_data,2019,Brasil,4.347826
4,Power Bi Experience,100,https://powerbiexperience.com/pt/,@leokarpa,2016,Brasil,4.347826

In [40]:
df2.chefes.sum()

8.695652173913043